
<div class="breadcrumb">
<a href="/">Home</a>
&nbsp;&raquo;&nbsp;
<a href="/">Winkels</a>
&nbsp;&raquo;&nbsp;
H&M
</div>

<div class="rightbox">

<div class="title-block ">
<h1>H&M</h1>
</div>

<div class="store-info">
<div class="contact-store">
{{ company.name }}<br />
Loremstraat 101 A<br />
1111 AA Hilversum<br /><br />
<b>Openingstijden</b><br />
Ma. t/m Vrij. 09.00 - 17.30 uur<br />
Za. 12.00 - 17.30 uur<br />
Zo. Gesloten<br /><br />
T: <a href="tel:012-4568998">012-4568998</a><br />
E: <a href="mailto:info@hm.nl">info@hm.nl</a>
</div>
<img src="assets/{{ company.image }}" alt="H&M" />
In 1947 raakte de Zweed Erling Persson in Amerika onder de indruk van het succes van winkels die kleding in grote hoeveelheden en tegen lage prijzen verkopen. Het fenomeen kwam veel in New York voor, maar weinig in Europa.
<br /><br />
Na zijn terugkomst opende Persson zijn winkel Hennes in Västerås in Zweden. De winkel was snel een succes en in 1960 breidde Persson het bedrijf uit door Mauritz Widforss, een jacht-, outdoor- en herenconfectiewinkel, te kopen. De eerste afdelingen werden geschrapt, maar de mannenkleding bleef. Zodoende werd de bedrijfsnaam Hennes & Mauritz.
</div>


<div class="title-block-2">
<h2>H&M Producten</h2>
</div>
<div class="products">

<div class="finetuning">
<div class="pages">
<ul>
<li class="active">
<a href="/1">1</a>
</li>
<li class="paging">
<a href="/2">2</a>
</li>
<li class="paging">
<a href="/3">3</a>
</li>
<li>
<a class="next" title="Volgende »" href="http://www.miinto.nl/guide-m-jassen?page=2">›</a>
</li>
</ul>
</div>

Toon per pagina&nbsp;&nbsp;
<select class="showperpage styled">
<option value="6">16</option>
<option value="32">32</option>
<option value="64">64</option>
<option value="128">128</option>
<option value="Alle">Alle</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sorteren op&nbsp;&nbsp;
<select class="sorting styled">
<option value="Titel">Titel</option>
<option value="Prijs">Prijs</option>
<option value="Nieuw">Nieuw</option>
</select>


</div>

<ul class="articles" ng-repeat="product in products | filter:search">
  <li>
    <a href="#/products/{{ product.id }}"><img ng-src="assets/{{product.image}}"/></a>

    <div class="product_text">
      <p>
        <a href='#/products/{{ product.id }}'>{{ product.name }}</a>
      </p>
      <p class="brand">
        <a href="/"> {{ product.brand }} </a>
      </p>
      <span class="price strike">{{ product.price }} EUR</span>
      <span class="discount">{{ product.discount }} EUR</span>
    </div>
  </li>
</ul>

<div class="finetuningbottom">
<div class="pages">
<ul>
<li class="active">
<a href="/1">1</a>
</li>
<li class="paging">
<a href="/2">2</a>
</li>
<li class="paging">
<a href="/3">3</a>
</li>
<li>
<a class="next" title="Volgende »" href="http://www.miinto.nl/guide-m-jassen?page=2">›</a>
</li>
</ul>
</div>


Toon per pagina&nbsp;&nbsp;
<select class="showperpage styled">
<option value="6">16</option>
<option value="32">32</option>
<option value="64">64</option>
<option value="128">128</option>
<option value="Alle">Alle</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sorteren op&nbsp;&nbsp;
<select class="sorting styled">
<option value="Titel">Titel</option>
<option value="Prijs">Prijs</option>
<option value="Nieuw">Nieuw</option>
</select>


</div>

</div>

</div>


<div class="sidebar">
<div class="location">
<h4>Winkels</h4>
<ul class="categories">
<li><a href="/">G-Star</a></li>
<li><a class="active" href="/">H&M </a></li>
<li><a href="/">Blokker</a></li>
<li><a href="/">Bijenkorf</a></li>
<li><a href="/">Hema</a></li>
<li><a href="/">Wibra</a></li>
<li><a href="/">Bart Smit</a></li>
<li><a href="/">Etos</a></li>
<li><a href="/">Jeanslife</a></li>
<li><a href="/">V&D</a></li>
<li><a href="/">G-Star</a></li>
<li><a href="/">Hans Anders</a></li>
<li><a href="/">Pearls</a></li>
<li><a href="/">Ici Paris</a></li>
</ul>
</div>
<h4>Doelgroep</h4>
<ul>
<li>
<input id="chk_dames" class="css-checkbox" type="checkbox" value="chk_dames">
<label class="css-label" for="chk_dames">Dames (82)</label>
</li>
<li>
<input id="chk_heren" class="css-checkbox" type="checkbox" value="chk_heren">
<label class="css-label" for="chk_heren">Heren (91)</label>
</li>
<li>
<input id="chk_kinderen" class="css-checkbox" type="checkbox" value="chk_kinderen">
<label class="css-label" for="chk_kinderen">Kinderen (34)</label>
</li>
</ul>
<br />
<h4>Merken</h4>
<ul>
<li>
<input id="chk_7 For All Mankind" class="css-checkbox" type="checkbox" value="7 For All Mankind">
<label class="css-label" for="chk_7 For All Mankind">7 For All Mankind (8)</label>
</li>
<li>
<input id="chk_7 square" class="css-checkbox" type="checkbox" value="7 square">
<label class="css-label" for="chk_7 square">7 square (1)</label>
</li>
<li>
<input id="chk_Aeronautica Militare" class="css-checkbox" type="checkbox" value="Aeronautica Militare">
<label class="css-label" for="chk_Aeronautica Militare">Aeronautica Mill (10)</label>
</li>
<li>
<input id="chk_Anerkjendt" class="css-checkbox" type="checkbox" value="Anerkjendt">
<label class="css-label" for="chk_Anerkjendt">Anerkjendt (4)</label>
</li>
<li>
<input id="chk_Antony Morato" class="css-checkbox" type="checkbox" value="Antony Morato">
<label class="css-label" for="chk_Antony Morato">Antony Morato (23)</label>
</li>
<li>
<input id="chk_Armani Jeans" class="css-checkbox" type="checkbox" value="Armani Jeans">
<label class="css-label" for="chk_Armani Jeans">Armani Jeans (2)</label>
</li>
<li>
<input id="chk_Blue Blood" class="css-checkbox" type="checkbox" value="Blue Blood">
<label class="css-label" for="chk_Blue Blood">Blue Blood (2)</label>
</li>
<li>
<input id="chk_Boss Green" class="css-checkbox" type="checkbox" value="Boss Green">
<label class="css-label" for="chk_Boss Green">Boss Green (5)</label>
</li>
<li>
<input id="chk_Boss Orange" class="css-checkbox" type="checkbox" value="Boss Orange">
<label class="css-label" for="chk_Boss Orange">Boss Orange (4)</label>
</li>
<li>
<input id="chk_Brunotti" class="css-checkbox" type="checkbox" value="Brunotti">
<label class="css-label" for="chk_Brunotti">Brunotti (2)</label>
</li>
<li>
<input id="chk_Bruuns Bazaar" class="css-checkbox" type="checkbox" value="Bruuns Bazaar">
<label class="css-label" for="chk_Bruuns Bazaar">Bruuns Bazaar (1)</label>
</li>
</ul>

<br />
<h4>Kleuren</h4>
<ul>
<li>
<input id="color_1" class="css-checkbox" type="checkbox" value="1">
<label class="css-label" for="color_1">Blauw (170)</label>
</li>
<li>
<input id="color_2" class="css-checkbox" type="checkbox" value="2">
<label class="css-label" for="color_2">Groen (50)</label>
</li>
<li>
<input id="color_3" class="css-checkbox" type="checkbox" value="3">
<label class="css-label" for="color_3">Geel (14)</label>
</li>
<li>
<input id="color_4" class="css-checkbox" type="checkbox" value="4">
<label class="css-label" for="color_4">Rood (15)</label>
</li>
<li>
<input id="color_5" class="css-checkbox" type="checkbox" value="5">
<label class="css-label" for="color_5">Zwart (26)</label>
</li>
<li>
<input id="color_6" class="css-checkbox" type="checkbox" value="6">
<label class="css-label" for="color_6">Paars (3)</label>
</li>
<li>
<input id="color_7" class="css-checkbox" type="checkbox" value="7">
<label class="css-label" for="color_7">Oranje (9)</label>
</li>
<li>
<input id="color_8" class="css-checkbox" type="checkbox" value="8">
<label class="css-label" for="color_8">Wit (8)</label>
</li>
<li>
<input id="color_9" class="css-checkbox" type="checkbox" value="9">
<label class="css-label" for="color_9">Roze (2)</label>
</li>
<li>
<input id="color_10" class="css-checkbox" type="checkbox" value="10">
<label class="css-label" for="color_10">Grijs (57)</label>
</li>
<li>
<input id="color_11" class="css-checkbox" type="checkbox" value="11">
<label class="css-label" for="color_11">Turquoise (4)</label>
</li>
<li>
<input id="color_12" class="css-checkbox" type="checkbox" value="12">
<label class="css-label" for="color_12">Crême (39)</label>
</li>
<li>
<input id="color_13" class="css-checkbox" type="checkbox" value="13">
<label class="css-label" for="color_13">Bordeaux (14)</label>
</li>
<li>
<input id="color_14" class="css-checkbox" type="checkbox" value="14">
<label class="css-label" for="color_14">Bruin (39)</label>
</li>
<li>
<input id="color_16" class="css-checkbox" type="checkbox" value="16">
<label class="css-label" for="color_16">Zalm (3)</label>
</li>
<li>
<input id="color_20" class="css-checkbox" type="checkbox" value="20">
<label class="css-label" for="color_20">Zand (2)</label>
</li>
</ul>
<br />
<h4>Prijs</h4>
<div class="priceblock">
<div class="noUiSlider"></div>
<input id="min-euro" type="text">
<input id="max-euro" type="text">
</div>
<div class="clearfix"></div>
<br />
<div class="filter-reset">
<img alt="Reset filter" src="images/reset.png">
<a rel="nofollow" href="#">Reset filter</a>
</div>

</div>
