<div class="slideshow">
  <img  src="/assets/frontend/sfeerfoto.jpg" alt="sfeer" />
</div>

<div class="filterblock">

<form method="get">

<label for="city">Kies uw stad</label>
<select class="styled">
  <option>Hilversum</option>
  <option>Utrecht</option>
  <option>Rotterdam</option>
</select>
<div class="clearfix"></div>
<label for="category">Categorie</label>
<select class="styled">
  <option>Schoenen</option>
  <option>Tassen</option>
  <option>Broeken</option>
</select>
<div class="clearfix"></div>
<label for="gender">Geslacht</label>
<select class="styled">
  <option>Dames</option>
  <option>Heren</option>
  <option>Kinderen</option>
</select>
<div class="clearfix"></div>
<label for="vendor">Merk</label>
<select class="styled">
  <option>Timberland</option>
  <option>Tony Mora</option>
  <option>Viavai</option>
</select>
<div class="clearfix"></div>
<label for="price">Prijs</label>
<div class="priceblock">
<div class="noUiSlider"></div>
<input id="min-euro" type="text">
<input id="max-euro" type="text">
</div>
<div class="clearfix"></div>
<label for="shop">Shop</label>
<select class="styled">
  <option>Elias Shoes</option>
  <option>Minix Store</option>
</select>
<input class="submit" type="submit" value="Bekijk nu!" />
</form>

</div>

<div class="clearfix"></div>
<div class="promoblock">
<ul>
<li><a href="/"><img src="/assets/frontend/promoblock1.jpg" alt="promoblock1" /></a><h2>Dames</h2></li>
<li><a href="/"><img src="/assets/frontend/promoblock2.jpg" alt="promoblock2" /></a><h2>Heren</h2></li>
<li><a href="/"><img src="/assets/frontend/promoblock3.jpg" alt="promoblock3" /></a><h2>Kinderen</h2></li>
<li><a href="/"><img src="/assets/frontend/promoblock4.jpg" alt="promoblock4" /></a><h2>Accessoires</h2></li>
<li><a href="/"><img src="/assets/frontend/promoblock5.jpg" alt="promoblock5" /></a></li>
</ul>
</div>
<div class="clearfix">&nbsp;</div>
<div class="promoblock">
<ul>
<li><a href="/"><img src="/assets/frontend/promoblock6.jpg" width: "340" alt="promoblock6" /></a></li>
<li><a href="/"><img src="/assets/frontend/promoblock7.jpg" width: "340" alt="promoblock7" /></a></li>
<li><a href="/"><img src="/assets/frontend/promoblock8.jpg" width: "340" alt="promoblock8" /></a></li>
</ul>
</div>